html, body {
  height: 100%;
  min-height: 100%;
  line-height: normal;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;

}

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans Condensed', sans-serif; }

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: #94b3cf;
} 

.mat-tab-label {
  background-color: #f4f2f3;
  height: 58px !important;
}

.mat-tab-label .mat-tab-label-content {
  font-size: 26px;
  font-weight: 550;
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
}

.mat-tab-label-active{
  background-color: #f9f7f8;
}
