.container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  background: #1b2a49;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  border: 0px !important;
}

mat-sidenav-content{
  padding: 30px;
}