.login-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('/assets/1_company_login.png');
  background-size: 60px 60px;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}